/*--------------------------------------------------------------------*/
/* Change default height */
body {
  max-height: initial;
  max-width: initial;
}

/* Change default caption style of BS4 */
caption {
  caption-side: top;
}

/*--------------------------------------------------------------------*/

.svg-container {
  display: inline-block;
  position: relative;
	width: 100%;
	vertical-align: middle; 
	overflow: hidden; 
}

.my-col-12 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;

  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.my-col-9 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;

  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}